.noTasks {
  width: 46.5rem;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--grey-400);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  p {
    text-align: center;
    line-height: 1.2rem;
    opacity: 0.5;
  }

  .noTasksP {
    font-weight: 700;
  }

  .clipboardText {
    align-self: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    opacity: 0.5;
  }
}
